 h3{
    color: red;

 }
 li{
   list-style-type: star;
 }

 .special{
   color: gold;
   font-weight: 200;
   }

   a:hover{
      color: red;
      text-decoration: none;
   }

body ul .special{
   background-color: black;
   padding: 5px;

}
li {
   color:aqua
}

h3{
   font-size: 200%;
}

body ol li {
   color: green;
   text-decoration: solid;
}

h2#apple{
   color: blue;
   font-size: 200%;
}

